
.icon-logout:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */